services:
  db:
    build: .
    container_name: psql_trascendence
    restart: always
    environment:
      POSTGRES_USER: myuser 
      POSTGRES_PASSWORD: mypassword 
      POSTGRES_DB: transcendence
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: # Esto asegura que tus datos no se borren al apagar el contenedor
